api:
    mortgage:
        rates: '{10:3.40,20:3.75,30:4.05}'
logging:
    level:
        org:
            springframework:
                jdbc: INFO
server:
    port: 8081
spring:
    application:
        name: mortgage
    datasource:
        driver-class-name: org.h2.Driver
        password: ''
        url: jdbc:h2:mem:mortgage;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        username: sa
    devtools:
        livereload:
            enabled: true
        restart:
            enabled: true
    h2:
        console:
            enabled: true
            path: /h2-console
            settings:
                trace: false
                web-allow-others: true
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: update
springdoc:
    api-docs:
        path: /api-docs
    swagger-ui:
        operationsSorter: method
        path: /swagger-ui-custom.html

app:
  security:
    users: "{tester: {password: 'tester123', role: 'USER'}, admin: {password: 'admin123', role: 'ADMIN'}}"